.dark-active {
    color: white;
    background: #198754;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.icon-button {
    background: white;
    border-color: darkgrey;
}

.form-check-input:checked[type=checkbox] {
    background-color: black;
}


body {
    background: #eeeeee;
    font-family: 'Open Sans', sans-serif;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

.navbar {
    font-size: 14px;
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.navbar .navbar-brand {
    color: #555;
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.navbar .navbar-brand b {
    color: #f04f01;
}

.navbar .navbar-nav a {
    font-size: 96%;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .navbar-nav a.active {
    color: #f04f01 !important;
    background: transparent !important;
}

.search-box input.form-control, .search-box .btn {
    font-size: 14px;
    border-radius: 2px !important;
}

.search-box .input-group-append {
    padding-left: 4px;
}

.search-box input.form-control:focus {
    border-color: #f04f01;
    box-shadow: 0 0 8px rgba(240, 79, 1, 0.2);
}

.search-box .btn-danger, .search-box .btn-danger:active {
    font-weight: bold;
    background: #f04f01 !important;
    border-color: #f04f01;
    text-transform: uppercase;
    min-width: 90px;
}

.search-box .btn-danger:hover, .search-box .btn-danger:focus {
    background: #eb4e01 !important;
    box-shadow: 0 0 8px rgba(240, 79, 1, 0.2);
}

.search-box .btn span {
    transform: scale(0.9);
    display: inline-block;
}

.navbar .nav-item.open > a {
    background: none !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .dropdown-menu a, .navbar .dropdown-menu a:active {
    color: #777;
    padding: 8px 20px;
    font-size: 13px;
    background: #fff;
}

.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:focus {
    color: #333;
    background: #f8f9fa;
}

@media (min-width: 992px) {
    .form-inline .input-group .form-control {
        width: 225px;
    }
}

@media (max-width: 992px) {
    .form-inline {
        display: block;
    }
}


.signup-form {
    width: 500px;
    margin: 20px auto;
    padding: 30px;
    font-size: 15px;
}

.signup-form h2 {
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.signup-form h2:before, .signup-form h2:after {
    content: "";
    height: 2px;
    width: 15%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.signup-form h2:before {
    left: 0;
}

.signup-form h2:after {
    right: 0;
}

.signup-form .hint-text {
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}

.signup-form {
    margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
    margin-top: 3px;
}

.card-img-top {
    height: 200px;
    display: flex;
    align-items: center;
    object-fit: contain;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.ribbon {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: rgb(255, 53, 53);
    color: white;
    padding: 5px 10px;
    /*transform: rotate(-45deg);*/
}

.ribbon-top-left {
    top: 0;
    left: 0;
}

#fg, #pass {
    padding-bottom: 20px;
    padding-top: 20px;
}

#button {
    padding-bottom: 10px;
}




